<div class="mt-4 mx-auto max-w-md">
  <div class="flex-col gap-4 justify-center">
  {{ if not .InternalError }}
  {{ if .Valid }}
    <div class="text-xl text-sans p-4">Shortened URL:</div>
    <div class="rounded-md p-4 bg-gradient-to-tr from-blue-100 to-blue-300">
      <div class="select-all font-mono hover:text-gray-600 text-gray-600 mt-2" style="word-wrap: break-word;" id="shortenedUrl">
        {{ .Url }}
      </div>
    </div>
      <button id="copybtn" data-clipboard-target="#shortenedUrl" class="btn-primary w-full p-2 my-4 bg-gray-400 text-white rounded-md hover:bg-gray-500 active:bg-blue-300 focus:ring-violet-300">
        <i class="fas fa-solid fa-clipboard"></i>
      </button>
      {{ if gt .AmountOfUrlsGenerated 0 }}
      <small>✨ We've already generated {{ .AmountOfUrlsGenerated }} short urls for beautiful people!</small>
      {{ end }}
  {{ else }}
    <div class="w-full">
      <div class="font-sans mb-4 rounded-md bg-gradient-to-tr from-pink-400 to-pink-600 p-4 text-sans text-white opacity-100 shadow-md">
      <i class="fas fa-exclamation"></i>
      URL is not valid!
      </div>
    </div>
  {{ end }}
  {{ else if .UrlEmpty }}
    <div class="w-full">
      <div class="font-sans mb-4 rounded-md bg-gradient-to-tr from-pink-400 to-pink-600 p-4 text-sans text-white opacity-100 shadow-md">
      <i class="fas fa-exclamation"></i>
      the URL can't be empty
      </div>
    </div>
  {{ else }}
    <div class="w-full">
      <div class="font-sans mb-4 rounded-md bg-gradient-to-tr from-pink-400 to-pink-600 p-4 text-sans text-white opacity-100 shadow-md">
      <i class="fas fa-exclamation"></i>
      Some internal error occurred!
      </div>
    </div>
  {{ end }}
  </div>
</div>
<script>
      var btn = document.getElementById('copybtn');
      var clipboard = new ClipboardJS(btn);
      btn.addEventListener("click", function() {
      btn.textContent = "copied!";
});
</script>
